#form-new-collection {
  span.required {
    color: red;
  }
}

.form {
  &__footer {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    gap: 14px;
    padding: 1rem 0;
  }
}
