/* Variables */
:root {
    --color-main-1: rgb(195, 145, 20);
    --color-main-2: rgb(14, 28, 79);

    --color-black: rgb(0, 0, 0);

    --color-add-1: rgb(194, 123, 8);
    --color-add-1: rgb(245, 220, 120);
    --color-add-1: rgb(20, 52, 133);
}

.main-header {
    background-color: var(--color-main-2);
}

.site-nav__link{
    color: #ffffff;
}
.site-nav__link.active {
    color: var(--color-main-1);
    pointer-events: none;
}
